OPENAI_API_KEY=
OPENAI_BASEURL=

ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=claude-sonnet-4-20250514

OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-3.1-flash-lite-preview
OPENROUTER_SITE_URL="https://anvia.dev"
OPENROUTER_SITE_NAME="Anvia"

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

GEMINI_API_KEY=
MISTRAL_API_KEY=

ANVIA_SANDBOX_DOCKER_TESTS=0
